
/*
	Define color variables
*/
:root {
	--body_background: rgba(32, 33, 36, 1);

	/* Navigation Bar */
	--title: rgb(214, 214, 215);
	--navbar_background: rgba(50, 54, 57, 1);

	/* Colors */
	--light_silver: rgb(214, 214, 215);
}

@font-face {
    font-family: 'Harry Potter';
    font-style: normal;
    font-weight: 400;
    src: local('Harry Potter'), url('./fonts/HARRP___.woff') format('woff');
}

html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* 
	BODY 
*/
body {
	font-family: sans-serif;
	font-size: 1.1rem;
	/* background-color: var(--body_background); */
	padding-top: 70px;
	background-image: url("../../public/hogwarts.jpg");
}

/*
It is easier to read if the text is not too wide, so we limit the width.
We use the class selector ".", so this style will be applied to elements with class="width-limited"

The various units of measurement available in CSS:
	https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units
*/
.width-limited {
	max-width: 90rem;

	/* Center horizontally: */
	margin: auto;
	margin-left: auto;
	margin-right: auto;
}

.width-limited_header_refs {
	max-width: 100%;
	background-color: rgba(40, 44, 47, 0.4);
}

/* Justify paragraphs */
p {
	margin: auto;
	text-align: justify;
	color: rgb(214, 214, 215);
}

/* Top navigation bar */
nav {
	width: 100%;
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 0rem;
}

/* Make the links in the navbar bold */
nav a {
	font-weight: bold;
}

/* Style of the list of links in the navbar */
nav ul {
	/* Clear defaults */
	margin: auto;
	padding: 10;

	/* Remove list bullet points */
	list-style-type: none;

	/*
	Flexbox is a modern mechanism for arranging elements
		https://css-tricks.com/snippets/css/a-guide-to-flexbox/
	This will arrange the elements in a row
	*/
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

/* Space between links */
nav li {
	margin-right: 3rem;
}


/* The box with a dark background and our site's title */
.title-row {
	width: 100%;

	/* Space above and below the title */
	padding-top: 5rem;
	padding-bottom: 5rem;

	/*background-color: rgb(207, 214, 26);*/

	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;
}



.viz-row {
	width: 100%;
	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 2rem;
	padding-bottom: 2rem;

	background-color: rgb(50, 50, 50);
}

.boxe {
	padding-left: 25px;
	padding-right: 25px;
	border: 5px solid rgb(222, 235, 43);
	border-radius: 25px;
	background-color: rgb(56, 131, 13);
}

figure embed {
	width: 100%;
}


footer {
	padding-bottom: 5rem;
}